<h1>Please Log In</h1>
		<div class="app-cam" ng-controller="kzq">
			<div class="cam"><img src="images/cam.png" class="img-responsive" alt="" /></div>
			<form>
				<input type="text" class="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}" ng-model="obj.username">
				<input type="password" class="text" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" ng-model="obj.password">
				<input ng-model="check" type="checkbox" ng-show="hide" class="inputt"/>{{me}}
				<div class="submit"><input type="submit" ng-click="login()" value="登录" style="margin-right: 10%;"></div>
				<div class="submit"><input type="submit" ui-sref="sign" ng-click="remove()" value="注册" ></div>
				
				<div class="clear"></div>
				
				<div class="new">
					<p><a href="#">Forgot Password ?</a></p>
					<div class="clear"></div>
				</div>
			</form>
		</div>